{% extends 'base.html' %}
{% block content %}
<div class="column">
        <button id="profilButton" type="button">Profil</button>
        <button id="logoutButton" type="button">Logout</button>
        {% for a in user.tviteras.prati.all %}
            {% for tvit in a.korisnik.tvitovi.all %}
                <div class="box">
                    {{ tvit.tijelo }}
                     <span class="is-small has-text-grey-light">
                        ({{ tvit.vrijeme_stvaranja }} by {{ a.hendl }})
                    </span>
                </div>
            {% endfor %}
        {% endfor %}
</div>
{% endblock content %}

<script type="text/javascript">
    document.getElementById("profilButton").onclick = function (){
        location.href = "tviteras/"; 
    }
    document.getElementById("logoutButton").onclick = function (){
        location.href = ""; 
    }
</script>