{% extends 'base.html' %}
{% block content %}

<div class="column">
    <!-- UNOS NOVOG TVITA -->
    {% comment %} <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button is-success is-fullwidth is-medium mt-5"
                type="submit">Tvit
        </button>
    </form> {% endcomment %}

    <!-- ISPIS SVIH TVITOVA -->
    <div class="block mx-3">
        {% for praceni_tviteras in user.tviteras.prati.all %}
            {% for tvit in praceni_tviteras.korisnik.tvitovi.all %}
                <div class="box my-2 p-3">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="is-size-5 has-text-bold">
                                        {{ tvit.stvorio.tviteras.ime }}
                                    </span>
                                    <span class=" is-size-6 has-text-grey-light">
                                        @{{ tvit.stvorio.tviteras.hendl }} {{ tvit.vrijeme_stvaranja|timesince }}
                                    </span>
                                </p>
                                <p>
                                    {{ tvit.tijelo }}
                                </p>
                            </div>
                            
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a href="{% url 'main:tvit' tvit.id %}">
                                        <div class="buttons">
                                            <button class="button is-disabled is-small is-light">
                                                <span class="icon"> <i class="fa-solid fa-heart"></i> </span>
                                                <span> {{ tvit.lajkovi.count }} </span>
                                            </button>
                                            <button class="button is-disabled is-small is-light">
                                                <span class="icon"> <i class="fa-solid fa-comments"></i> </span>
                                                <span> {{ tvit.komentari.count }} </span>
                                            </button>
                                        </div>
                                    </a>
                                </div>
                            </nav>  
                        </div>
                    </article>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

<!-- ISPIS SVIH TVITERAŠA -->
<div class="column is-one-quarter">
    <!-- BLOK ZA POPIS TVITERASA KOJE KORISNIK PRATI -->
    <div class="block mt-6">
        <h3 class="title is-4 mb-4">
            Tviteraši:
        </h3>
        <div class="content">
            {% for tviteras in tviterasi %}
                <div class="block my-2">
                    <div class="box p-3">
                        <a href="{% url 'main:tviteras' tviteras.id %}">
                            <div class="media">
                                <div class="media-content">
                                    <p>
                                        <span class="title is-5"> {{ tviteras.ime }} </span> <br>
                                        <span class="subtitle is-6"> @{{ tviteras.hendl }} </span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock content %}

<!--<script type="text/javascript">
    document.getElementById("profilButton").onclick = function (){
        location.href = "tviteras/"; 
    }
    document.getElementById("logoutButton").onclick = function (){
        location.href = ""; 
    }
</script>-->