{% extends 'base.html' %}

{% block content %}

<div class="column">
    <div class="block">
    <h1 class="title is-2">
        Tvitovi od {{ tviteras.hendl|upper }}
    </h1>
    {% for tvit in tviteras.korisnik.tvitovi.all %}
        <div class="box">
            {{ tvit.tijelo }}
            <span class="is-small has-text-grey-light">
                ({{ tvit.vrijeme_stvaranja }})
            </span>
        </div>
    {% endfor %}
    </div>
</div>

<div class="column is-one-third">

    <div class="block">
        <h3 class="title is-4">
            {{tviteras.hendl}} prati:
        </h3>
        <div class="content">
            <ul>
            {% for prati in tviteras.prati.all %}
                <li>
                    <a href="{% url 'main:tviteras' prati.id %}">
                        {{ prati }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="block">
        <h3 class="title is-4">
            prate {{tviteras.hendl}}:
        </h3>
        <div class="content">
            <ul>
            {% for pracen_od in tviteras.pracen_od.all %}
                <li>
                    <a href="{% url 'main:tviteras' pracen_od.id %}">
                        {{ pracen_od }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="buttons has-addons">
        {% if tviteras in user.tviteras.prati.all %}
            <button class="button is-success is-static">Follow</button>
            <button class="button is-danger" name="follow" value="unfollow">
                Unfollow
            </button>
        {% else %}
            <button class="button is-success" name="follow" value="follow">
                Follow
            </button>
            <button class="button is-danger is-static">Unfollow</button>
        {% endif %}
        </div>
    </form>

</div>

{% endblock content %}