{% extends 'base.html' %}

{% block content %}

<div class="column">
    <!-- INFORMACIJE O TVITERASU -->
    <div class="block p-3">
        <div class="box">

            <div class="columns">
                <!-- IME I HENDL -->
                <div class="column">
                    <p>
                        <span class="title is-4">{{ tviteras.ime }}</span><br>
                        <span class="subtitle is-5">@{{ tviteras.hendl }}</span>
                    </p>
                </div>

                <!-- GUMBI ZA PRAĆENJE -->
                <div class="column">
                    <form method="post">
                        {% csrf_token %}
                            <div class="buttons is-justify-content-end">
                            {% if tviteras != user.tviteras %}
                                {% if tviteras in user.tviteras.prati.all %}
                                    <button class="button is-static">
                                        <span class="icon"> <i class="fa-solid fa-user-plus"></i> </span>
                                        <span>Zaprati</span>
                                    </button>
                                    <button class="button is-info" name="pracenje" value="otprati">
                                        <span class="icon"> <i class="fa-solid fa-user-minus"></i> </span>
                                        <span>Otprati</span>
                                    </button>
                                {% else %}
                                    <button class="button is-info" name="pracenje" value="zaprati">
                                        <span class="icon"> <i class="fa-solid fa-user-plus"></i> </span>
                                        <span>Zaprati</span>
                                    </button>
                                    <button class="button is-static">
                                        <span class="icon"> <i class="fa-solid fa-user-minus"></i> </span>
                                        <span>Otprati</span>
                                    </button>
                                {% endif %}
                            {% endif %}
                            </div>
                    </form>
                </div>
            </div>

            <!-- OPIS TVITERASA -->
            <div class="columns">
                <div class="column">
                    <span class="subtitle is-5">
                        {{ tviteras.opis }}
                    </span>
                </div>
            </div>

            <!-- LOKACIJA I DATUM PRIDRUŽIVANJA -->
            <div class="columns">
                <div class="column">
                    <span class="subtitle is-5">
                        <span class="icon"> <i class="fa-solid fa-location-pin"></i> </span>
                        <span> {{ tviteras.lokacija }} </span>

                        <span class="icon ml-5"> <i class="fa-solid fa-calendar-days"></i> </span>
                        <span> {{ tviteras.datum_pridruzivanja }} </span>
                    </span>
                </div>
            </div>

        </div>
    </div>

    <!-- BLOK ZA LISTU TVITOVA -->
    <div class="block mt-3 mx-3">
        {% for tvit in tviteras.korisnik.tvitovi.all %}
            <div class="box my-2 p-3">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <span class="is-size-5 has-text-bold"> {{ tvit.stvorio.tviteras.ime }} </span>
                                <span class="is-size-6 has-text-grey-light"> @{{ tvit.stvorio.tviteras.hendl }} </span>
                                <span class="is-size-6 has-text-grey-light ml-5"> {{ tvit.vrijeme_stvaranja|timesince }} </span>
                            </p>
                            <p>
                                {{ tvit.tijelo }}
                            </p>
                        </div>
                        
                        <nav class="level is-mobile mt-5">
                            <div class="level-left">
                                <a href="{% url 'main:tvit' tvit.id %}">
                                    <div class="buttons">
                                        <button class="button is-disabled is-small is-light">
                                            <span class="icon"> <i class="fa-solid fa-heart"></i> </span>
                                            <span> {{ tvit.lajkovi.count }} </span>
                                        </button>
                                        <button class="button is-disabled is-small is-light">
                                            <span class="icon"> <i class="fa-solid fa-comments"></i> </span>
                                            <span> {{ tvit.komentari.count }} </span>
                                        </button>
                                    </div>
                                </a>
                            </div>
                        </nav>  
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
</div>

<div class="column is-one-quarter">
    <!-- POPIS TVITERASA KOJE KORISNIK PRATI -->
    <div class="block mt-6">
        <h3 class="title is-4 mb-4">
            {{ tviteras.prati.count }} pratim:
        </h3>
        <div class="content">
            {% for prati in tviteras.prati.all %}
                <div class="block my-2">
                    <div class="box p-3">
                        <a href="{% url 'main:tviteras' prati.id %}">
                            <div class="media">
                                <div class="media-content">
                                    <p>
                                        <span class="title is-5"> {{ prati.ime }} </span> <br>
                                        <span class="subtitle is-6"> @{{ prati.hendl }} </span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- POPIS TVITERASA KOJE PRATE KORISNIKA -->
    <div class="block mt-6">
        <h3 class="title is-4 mb-4">
            {{ tviteras.pracen_od.count }} osobe koje prate:
        </h3>
        <div class="content">
            {% for pracen_od in tviteras.pracen_od.all %}
                <div class="block my-2">
                    <div class="card">
                        <a href="{% url 'main:tviteras' pracen_od.id %}">
                            <div class="card-content p-2">
                                <div class="media">
                                    <div class="media-content">
                                        <p>
                                            <span class="title is-5"> {{ pracen_od.ime }} </span> <br>
                                            <span class="subtitle is-6"> @{{ pracen_od.hendl }} </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock content %}